beanie==2.0.0
fastapi==0.116.1
fastapi_cors==0.0.6
fastapi_cli==0.0.11
openpyxl==3.1.5
pandas==2.3.2
pubchempy==1.0.4
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.10.1
PyJWT==2.8.0
pymongo==4.14.1
rdkit==2025.3.5
uvicorn==0.35.0
passlib==1.7.4
motor==3.7.1
bcrypt==4.0.1
gunicorn==23.0.0
